.list-item {
    padding: 1rem 0;
    cursor: pointer;


}

.list-item:hover {
    background-color: #caccca;
}

.list {
    width: 50%;
    border: 1px solid #ddd;
    margin: 1rem;
    list-style: none;
}

.autocomplete-input {
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3%;
    padding: 8px;
    margin: 1rem;
    width: 40%;
}

.no-records {
    margin: 1rem 0;
    color: rgb(231, 83, 83);
    font-size: 16px;

}